html {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: block;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

#mission {
  background-image: url("/Users/darin/Projects/TeaCozy/resources/images/img-mission-background.jpg");
  height: 700px;
  justify-content: center;
  padding-top: 70px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}
